body {
    margin: 0;
    padding: 0;
}
.navbarScroll.navbarDark {
    background-color: black;
}
.navbar-nav a {
    margin-right: 6px;
    text-decoration: none;
    color: lightgray !important;
}
.navbar-nav a:hover {
    text-decoration: underline !important;
    color: #fff !important;
}
.bgimage {
    height:110vh;
    background: url('images/myimg3.jpg');
    background-size:cover;
    margin: 0 auto;
    position:relative;
}
.hero_title {
    font-size: 4.5rem;
    color:lightyellow
}
.hero_desc {
    font-size: 2rem;
}
.hero-text {
    text-align: center;
    position: absolute;
    top: 30%;
    left: 300px;
    transform: translate(-50%, -50%);
    color: lightyellow;
}
.row {
    display: flex;
    flex-wrap: wrap;
}
.col-lg-6 {
    flex: 1;
    margin-bottom: 20px;
}

.info-grid {
    display: grid;
    grid-template-columns: 0.5fr 1fr; 
    gap: 5px;
}

.info-item {
    text-align: left; /* Căn chỉnh văn bản sang phải */
}
#rikkei,
#university{
    max-width: 50px;
    height: 50px;
    display: block;
    margin: 0 auto;
    border-radius: 5px;
}

#contact {
    padding-bottom: 4rem;
}
.imageAboutPage {
    width: 90%;
    border-radius: 50%; 
    margin-top: -22px;
    transition: all 1s ease;
    border: 2px solid transparent;
}
.imageAboutPage:hover {
    border-radius: 0;
    border: 2px solid #000;
    transform: scale(1.1);
}
.servicesText.card {
    cursor: pointer;
    border: none;
}
.educationText.card {
    height: 220px;
    cursor: pointer;
    border: none;
    overflow: auto;
}
.projectText.card {
    height: 590px;
    cursor: pointer;
    border-radius: 8px;
    padding: 16px;
    transition: transform 0.3s ease;
}
.projectText.card:hover {
    box-shadow: 0 6px 12px 0 rgba(0, 0, 0, 0.5);
    background-color: lightyellow
}
.card-text{
    margin-bottom: 50px;
}
.card-img-top{
    min-height: 220px;
    margin-bottom: 15px;
    border: 1px solid #ddd;
}
.card{
    border-radius: 8px;
}
.card-body{
    background-color: lightgrey;
    border-radius: 8px;
    transition: transform 0.3s ease;
}  
.card-body:hover{
    transform: translateY(-15px);
}
.card-experience{
    height: 220px;
    background-color: lightyellow;
    padding: 16px;
    border: 1px solid #ccc;
    border-radius: 8px;
    overflow: auto;
}  
.servicesIcon {
    font-size: 36px;
    text-align: center;
    width: 100%;
}
.frameIcon{
    font-size: 36px;
}
.card-title {
    text-align: center;
}
.card:hover .servicesIcon {
    color: #008000;
}
.card-experience:hover {
    border: 1px solid #008000;
}
.framework{
    display: flex;
    gap: 20px;
    justify-content: center;
}
.social-icons {
    display: flex;
    gap: 30px;
    justify-content: center;
    font-size: 30px;
    cursor: pointer;
}
.fa-facebook:hover,.fa-twitter:hover,.fa-linkedin:hover, .fa-github:hover {
    color: #008000;
}
.fab {
    color: #000000;
}
.btn-success.btn{
    margin-bottom: 15px;
}
.content-project{
    height: 250px;
    overflow: auto;
    position: relative;
}
.card-project p{
    margin-bottom: 5px;
}
.link{
    position: absolute;
    left: 37%;
    bottom: -5px;
}
.img-certificate img{
    min-height: 250px;
    border: 1px solid #ddd;
    border-radius: 7px;
    transition: all 0.7s ease;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.5);
}
.img-certificate img:hover{
    transform: translateY(-18px) scale(1.1);
}
.certificates{
    display: flex;
    justify-content: center;
    gap: 25px;
}
#footer {
    background-color: #808080;
    text-align: center;
}
